<!DOCTYPE html>
<html lang="en">
<head>
    <!--  Metadata  -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="application/javascript">
    <meta name="description" content="Kalafar (MW3 Server Launcher) program remake for web">
    <meta name="keywords" content="kalafar, mw3, cod, Call of Duty, server launcher">
    <meta name="author" content="Matej Jurik &lt;jurik.matejw@gmail.com&gt;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  JS Libraries -->
    <!-- <script src="../../../node_modules/popper.js/dist/popper.min.js"></script>-->
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- My compiled code -->
    <script src="../../../app/static/js/main.js"></script>

    <!--  CSS Styles  -->
    <link rel="stylesheet" href="../css/main.css" type="text/css"/>

    <title>Kalafar.com</title>
</head>

<body>
    <h1>Welcome to Kalafar.com</h1>
    <p>Kalafar.com is currently under maintenance, please check back later.</p>
</body>
</html>