@mixin mobile-menu {
	background: hsla(0, 0, 0, 0.4) no-repeat content-box;
	position: fixed;
	top: 9vh;
	width: 100vw !important;
	height: 91vh;
	z-index: 10;
	box-shadow: none;

	& .headline {
		display: none;
	}

}

@mixin mobile-options {
	top: 9vh;
	width: 100vw !important;
	height: 91vh;
	z-index: 5;
	box-shadow: none;
	display: none;
}

@mixin not-supported {
	//html {
	//	overflow: hidden;
	//}

	body .mw3-mobile-nav {
		display: none;
	}

	body .mw3-app{
		display: none;
	}

	body .not-supported {
		display: block !important;
	}
}