/* Page components */

///////////////////////////////////////////////
/* Not Supported Screen Resolution Component */
///////////////////////////////////////////////
div.not-supported {
	display: none;
}

////////////////////////
/* App infrastructure */
////////////////////////
html {
	position: absolute;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	border: none;
}

body {
	border: none;
	height: inherit;
}

///////////////////////
/* Mobile Navigation */
///////////////////////
.mw3-mobile-nav {
	height: 9vh;
	width: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	padding-right: 0;
	align-items: center;
	background: hsla(0, 0, 0, 0.4) no-repeat content-box;

	& .mw3-menu-toggle {
		margin: 0;
		flex: 1 1 auto;

		& #mw3-menu-toggler {
			border:none;
			padding: 1em 2em;
			background-color: transparent;
			color: $base-font-color;
		}
	}

	& .mw3-mobile-header {
		flex: 2 2 auto;
		align-items: center;
		text-align: right;
		margin: 0;

		& #mw3-mobile-headline {
			margin: 0;
		}
	}
}

//////////
/* App  */
//////////
.mw3-app {
	height: inherit;

	& .mw3-menu {
		/* Main Menu */
		position: relative;
		padding-right: 0;
		box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.75);
		background: hsla(0, 0, 0, 0.3) no-repeat content-box;
		border: none;

		&::after {
			content: '';
			display: block;
			position: absolute;
			width: 1px;
			height: 100%;
			top: 0;
			right: 0;
			background-color: rgba(130, 130, 130, 0.85);
		}

		& hr.mw3-hr {
			/* Main Menu horizontal line component */
			height: 1.2px;
			width: 100%;
			margin: 1px auto 1px auto;
			border: none;
			background-color: transparent;
			background-image: linear-gradient(
							-90deg,
							rgba(255, 255, 255, 0.6),
							rgba(255, 255, 255, 0.5),
							rgba(160, 160, 160, 0.5),
							hsla(0, 0, 0, 0),
							hsla(0, 0, 0, 0));
		}

		& .menu-entries {
			position: relative;
			width: 100%;
			margin: 0;
			padding: 0;

			& .menu-entry {
				margin: 3px 0;
				padding: 3px 2em 3px 10px;
				text-align: right;
			}

			& .mw3-launch {
				//position: relative;
			}

			& .rate-me {
				color: $mw3-font-color;
			}

			& .menu-tooltip {
				font-size: $tooltip-font-size-p;
			}

		}

		& footer {
			/* FOOTER COMPONENT */
			width: 100%;
			//margin: 0 auto;
			//padding: 0 18px;
			position: absolute;
			margin: 0;
			padding: 0;
			bottom: 2em;

			& * {
				width: inherit;
				margin: 0;
				padding: 0;
			}

		}
	}

	& .mw3-options {
		/* Options Menu */
		height: inherit;

		& .options-widget {
			/* Selected Option widgets */
			/* Default Display Widget - Clear Page */
			height: 100%;
			width: 100%;
		}

		& .options-widget-base {
			& p.mw3-friendlist-button {
				position: absolute;
				padding: 2.5px 15px;
				bottom: 1.5em;
				right: 2em;
			}
		}
	}
}

/* Other Components */

hr {
	/* Theme horizontal lines */
	border: none;
	background-color: black;
	height: 1px;
}

.menu-clickable {

	&:hover {
		cursor: pointer;
		background-image: linear-gradient(to right, transparent, rgba(122, 130, 117, 0.9)); // rgba(200, 255, 200, 0.3)
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);


		&::after {
			content: '';
			height: 25px;
			width: 25px;
			display: inline-block;
			position: absolute;
			right: 10px;
			top: 10px;
			color: $mw3-font-color;
		}
	}
}

.clickable {
	border-radius: 0.5px;

	&:hover {
		cursor: pointer;
		background-color: rgba(122, 130, 117, 0.9) !important;
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
	}
}

#headline-overflow-break {
	display: none;
}