/** Animating Reference
 *div {
 *	 animation-name: example;
 *	 animation-duration: 5s;
 *	 animation-timing-function: linear;
 *	 animation-delay: 2s;
 *	 animation-iteration-count: infinite;
 *	 animation-direction: alternate;
 *}
 *  // VS
 *div {
 *	 animation: example 5s linear 2s infinite alternate;
 *}
 *
 */
/* Page Backgrounds */
/* Main background - MW3 Wallpaper */
body {
  background-image: url("../images/backgrounds/main_menu_borderless.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Font options */
/* HTML Text Formatting Elements */
h1, h1.mw3-mobile-headline, h1.headline, h2, h3, h4, h5, h6, a, p, span {
  user-select: none;
  text-transform: uppercase;
  line-height: 1.4;
  font-family: "Syncopate", sans-serif;
  color: white;
  text-wrap: normal;
  word-wrap: break-word;
  transition: font-size 0.25s;
}

/* Headers */
h1, h1.mw3-mobile-headline, h1.headline {
  font-size: 56px;
  color: white;
  width: 90%;
  margin: 1.25em auto 0.2em auto;
  padding: 7.5px 15px;
}
h1.headline {
  color: white;
  text-align: right;
}
h1.mw3-mobile-headline {
  margin: 0;
  padding: 0;
}

/* Paragraphs */
p {
  font-size: 28px;
}

/* Links */
a {
  text-decoration: none;
  color: white;
  transition: color 0.1s ease-in-out;
}
a:hover {
  color: #00CC00 !important;
}
a:hover span.mw3 {
  color: #00CC00 !important;
}

/* Inline Spans */
span.mw3 {
  color: #00CC00;
  transition: color 0.1s ease-in-out;
}

/* In-Footer font */
footer * {
  font-size: 18px;
}
footer p {
  display: inline;
}
footer .footer-contact {
  list-style: none;
}
footer .footer-contact li.media {
  display: inline;
  padding: 10px 30px;
  color: #00CC00;
}

/* Page components */
/* Not Supported Screen Resolution Component */
div.not-supported {
  display: none;
}

/* App infrastructure */
html {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border: none;
}

body {
  border: none;
  height: inherit;
}

/* Mobile Navigation */
.mw3-mobile-nav {
  height: 9vh;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.4) no-repeat content-box;
}
.mw3-mobile-nav .mw3-menu-toggle {
  margin: 0;
  flex: 1 1 auto;
}
.mw3-mobile-nav .mw3-menu-toggle #mw3-menu-toggler {
  border: none;
  padding: 1em 2em;
  background-color: transparent;
  color: white;
}
.mw3-mobile-nav .mw3-mobile-header {
  flex: 2 2 auto;
  align-items: center;
  text-align: right;
  margin: 0;
}
.mw3-mobile-nav .mw3-mobile-header #mw3-mobile-headline {
  margin: 0;
}

/* App  */
.mw3-app {
  height: inherit;
}
.mw3-app .mw3-menu {
  /* Main Menu */
  position: relative;
  padding-right: 0;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.3) no-repeat content-box;
  border: none;
}
.mw3-app .mw3-menu::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(130, 130, 130, 0.85);
}
.mw3-app .mw3-menu hr.mw3-hr {
  /* Main Menu horizontal line component */
  height: 1.2px;
  width: 100%;
  margin: 1px auto 1px auto;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5), rgba(160, 160, 160, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.mw3-app .mw3-menu .menu-entries {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.mw3-app .mw3-menu .menu-entries .menu-entry {
  margin: 3px 0;
  padding: 3px 2em 3px 10px;
  text-align: right;
}
.mw3-app .mw3-menu .menu-entries .rate-me {
  color: #00CC00;
}
.mw3-app .mw3-menu .menu-entries .menu-tooltip {
  font-size: 24px;
}
.mw3-app .mw3-menu footer {
  /* FOOTER COMPONENT */
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 2em;
}
.mw3-app .mw3-menu footer * {
  width: inherit;
  margin: 0;
  padding: 0;
}
.mw3-app .mw3-options {
  /* Options Menu */
  height: inherit;
}
.mw3-app .mw3-options .options-widget {
  /* Selected Option widgets */
  /* Default Display Widget - Clear Page */
  height: 100%;
  width: 100%;
}
.mw3-app .mw3-options .options-widget-base p.mw3-friendlist-button {
  position: absolute;
  padding: 2.5px 15px;
  bottom: 1.5em;
  right: 2em;
}

/* Other Components */
hr {
  /* Theme horizontal lines */
  border: none;
  background-color: black;
  height: 1px;
}

.menu-clickable:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, transparent, rgba(122, 130, 117, 0.9));
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
}
.menu-clickable:hover::after {
  content: "";
  height: 25px;
  width: 25px;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #00CC00;
}

.clickable {
  border-radius: 0.5px;
}
.clickable:hover {
  cursor: pointer;
  background-color: rgba(122, 130, 117, 0.9) !important;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
}

#headline-overflow-break {
  display: none;
}

/* Media Queries */
/* Window Width Media Queries */
@media screen and (max-width: 1720px) {
  /*  FONTS  */
  h1, h1.headline, h1.mw3-mobile-headline {
    font-size: 44px !important;
  }
  h1.headline a, h1.headline a span, h1.mw3-mobile-headline, h1.mw3-mobile-headline span.mw3 {
    font-size: 44px !important;
  }
  h1 #headline-overflow-break {
    display: block;
  }

  p {
    font-size: 22px;
  }
  p.menu-tooltip {
    font-size: 18px !important;
  }
  p.footer-text {
    font-size: 14px;
  }

  span {
    font-size: 22px;
  }

  a {
    font-size: 22px;
  }
  a.footer-text {
    font-size: 14px;
  }

  /* Components */
}
@media screen and (min-width: 990px) {
  .mw3-app .mw3-menu {
    display: block;
  }
  .mw3-app .mw3-options {
    display: block;
  }
}
/* Mobile Version */
@media screen and (max-width: 990px) {
  html {
    overflow: scroll;
  }

  /*  Fonts  */
  h1.headline a, h1.headline a span, h1.mw3-mobile-headline, h1.mw3-mobile-headline span.mw3 {
    font-size: 21px !important;
  }

  /* Components */
  .mw3-mobile-nav {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .mw3-app .mw3-menu {
    display: none;
    background: rgba(0, 0, 0, 0.4) no-repeat content-box;
    position: fixed;
    top: 9vh;
    width: 100vw !important;
    height: 91vh;
    z-index: 10;
    box-shadow: none;
  }
  .mw3-app .mw3-menu .headline {
    display: none;
  }
  .mw3-app .mw3-options {
    top: 9vh;
    width: 100vw !important;
    height: 91vh;
    z-index: 5;
    box-shadow: none;
    display: none;
  }
}
@media screen and (max-width: 334px) {
  /*  Fonts  */
  body {
    font-size: 16px;
  }

  h1.headline a, h1.headline a span, h1.mw3-mobile-headline, h1.mw3-mobile-headline span.mw3 {
    font-size: 14px !important;
  }

  p {
    font-size: 16px;
  }
  p.menu-tooltip {
    font-size: 12px !important;
  }
  p.footer-text {
    font-size: 10px;
  }

  span {
    font-size: 16px;
  }

  a {
    font-size: 16px;
  }
  a.footer-text {
    font-size: 10px;
  }

  /* Components */
  .mw3-mobile-nav .mw3-menu-toggle {
    margin: 0 0;
    padding: 1em 0;
  }
  .mw3-mobile-nav .mw3-menu-toggle #mw3-menu-toggler {
    padding: 1em 0.75em;
  }
  .mw3-mobile-nav .mw3-mobile-header {
    margin-right: 0.5em;
  }
}
/* Window Height Media Queries */
@media screen and (max-height: 720px) {
  /* Components */
  html {
    overflow-y: scroll;
  }

  .mw3-app .mw3-menu footer {
    position: relative;
    bottom: 0;
  }
}
@media screen and (max-height: 720px) and (min-width: 990px) {
  /* Components */
  html {
    height: 720px;
    overflow-y: scroll;
  }

  .mw3-app .mw3-menu footer::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 1px auto 1px auto;
    border: none;
    background-color: transparent;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5), rgba(160, 160, 160, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
  .mw3-app .mw3-options p.mw3-friendlist-button {
    bottom: 3.1em !important;
  }
}
@media screen and (max-height: 628.36px) and (min-width: 990px) {
  html {
    height: auto;
  }

  .mw3-app .mw3-options p.mw3-friendlist-button {
    bottom: 0 !important;
  }
}
/* NOT SUPPORTED */
@media screen and (max-width: 255px) {
  body .mw3-mobile-nav {
    display: none;
  }

  body .mw3-app {
    display: none;
  }

  body .not-supported {
    display: block !important;
  }
}
@media screen and (max-height: 500px) and (min-width: 990px) {
  body .mw3-mobile-nav {
    display: none;
  }

  body .mw3-app {
    display: none;
  }

  body .not-supported {
    display: block !important;
  }
}
@media screen and (max-height: 300px) and (max-width: 990px) {
  body .mw3-mobile-nav {
    display: none;
  }

  body .mw3-app {
    display: none;
  }

  body .not-supported {
    display: block !important;
  }
}

/*# sourceMappingURL=main.css.map */
